---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---
<Layout 
title="Hook Technologies"


/>



<Header/>
<div class="allbox">
<body>
  <div class="boddy">
<h1>Terms of Service</h1>
<h2>Nova is a product of Hook Technologies Corporation. This terms of Use constitute an agreement between the user and Hook Technologies Corporation.</h2>
<h3>Nova Service</h3>
<h2>We commit to delivering the Nova Service, encompassing a comprehensive range of Nova products, features, applications, services, technologies, and software. This is aimed at furthering Nova's mission to democratize and foster knowledge and its associated lifestyle. The Service comprises the following components:</h2>
<hr class="solid">
<h3><span class="secondfont">1.</span> The One Who May Use Nova</h3>
<h2>The user must agree to constitute an agreement with us. To proper use of the service, user must be older than 12 years old. The user warrants and confirms his authority and premiss to represent any kind of organization or entity if needed.</h2>
<h3><span class="secondfont">2.</span> Disclaimers</h3>
<h2>The content uploaded by the user (you) and its consequences are at your own risk and responsibility. Hook Technologies Corporation disclaims all warranties and conditions, whether express or implied. Hook Technologies Corporation does not warranty and disclaims all responsibility and liability for any content on the service. Hook Technologies Corporation is not responsible for any loss of profit or revenue or any loss of data. Nova is provided "as is", and the perfect condition of safety and security can not be guaranteed all the time. Hook Technologies Corporation does not have any control over people's actions or words, and neither is Hook Technologies Corporation responsible for it.</h2>
<h3><span class="secondfont">3.</span> The use of Nova</h3>
<h2>The creation and use of a <u>Hook Account</u> is needed to use the service Nova. The responsibility of the account safety remains on the user. Hook Technologies Corporation is not liable for any loss or damage involving the user account or usage. <br> The service, Nova, must be used acording to the terms and laws, rules and regulations established on the terms of service. In case of using paid features of Nova, you agree to the <u>Terms of paid service</u>. </h2>
<h3><span class="secondfont">4.</span> Privacy</h3>
<h2>The use of the service needs the collection and usage of the user information. Hook Technologies Corporation <u>Privacy Policy</u> explains how we collect and handle the information across all the <u>Hook</u> services. To use Nova, you must agree the Privacy Policy.</h2>
<h4>Valid: November 12, 2023</h4>
  </div>
</body>
<hr class="hrfooter">
<Footer/>


<style>
  @import url('https://unpkg.com/css.gg@2.0.0/icons/css/arrow-top-right.css');



.boddy {
  margin-top: 90px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 80px;

}

.hrfooter {
		margin-top: 60px;
		margin-bottom: 0px;
	}



@media screen and (max-width: 950px) {
  .boddy {
  margin-top: 40px;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 80px;

}
}
.gg-chevron-down::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 7px;
  height: 7px;
  border-bottom: 1.7px solid;
  border-right: 1.7px solid;
  transform: rotate(45deg);
  left: 4px;
  top: 2px
}



html {
  background-color: rgb(255, 255, 255);




}

.showingoffre {

  align-items: start;
  align-content: start;
  text-align: left;
  text-align: left;



} 

.gg-chevron-right {
box-sizing: border-box;
position: relative;
display: block;
transform: scale(var(--ggs,1));
width: 22px;
height: 0px;
border: 2px solid transparent;
border-radius: 100px
}

.gg-chevron-right::after {
content: "";
display: block;
box-sizing: border-box;
position: absolute;
width: 8px;
height: 8px;
border-bottom: 1.7px solid;
border-right: 1.7px solid;
transform: rotate(-45deg);
right: 6px;
top: 9px
} 

.showingoffre {
position: relative; /* Añade position: relative al contenedor */
/* ... */
.extrainfo {
display: none;
position: absolute; /* Utiliza position: absolute para el menú desplegable */

left: 0;
background-color: rgb(254, 254, 254);
padding: 3px;
border: 1px solid rgb(207, 207, 207);
border-radius: 7px;

}

  hr {
  padding: 1000px;
}
}



.showingoffre {


}

.selectir {
  justify-content: space-between;
  display: flex;
  text-align: center;
  padding: 10px;
  border-radius: 3px;
  transition: all 0.2s ease 0s;
}

.selectir:hover {
  background-color: rgb(241, 241, 241);
}




p {

padding-top: 7px;
padding-bottom: 7px;
font-family: -apple-system, BlinkMacSystemFont, sans-serif;
color: rgb(0, 0, 0);
font-size: 14px;
margin-top: 0px;
margin-bottom: 0px;
font-weight: 400;
transition: all 0.3s ease 0s;
}


.showingoffre:active {
  background-color: rgb(241, 241, 241);
}

.showingoffre:hover {

.extrainfo {
  display: block;
  width: 200px;
}
}

.extrainfo:hover {
  display: block;
  width: 200px;
}

header {
padding: 20px;
padding-bottom: 0px;
margin-bottom: 0px;
position: fixed;
top: 0;
width: 100%;
height: 50px;
background-color: white;
z-index: 1000; /* Asegura que esté por encima del resto del contenido */

}

h6{
  font-family: 'Charter';
  color: rgb(0, 0, 0);
  font-size: 20px;
  margin-top: 0px;
  margin-right: 10px;
}
h5{
  padding-left: 10px;
  padding-right: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: rgb(0, 0, 0);
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 400;
  transition: all 0.3s ease 0s;
}



.boxii {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: rgb(0, 0, 0);
  font-size: 14px;
  margin-top: 0px;
  font-weight: 400;
  transition: all 0.2s ease 0s;
  align-items: center;
  gap: 0px;
  max-width: fit-content;
}


.boxii:hover {

  background-color: rgb(242, 242, 242);
  border-radius: 3px;



}







.boxii:hover {

background-color: rgb(242, 242, 242);
border-radius: 3px;

}




.displayphoto {
  width: 584px;
  border-radius: 15px;
  margin-bottom: -100px;
  transition: all 0.3s ease 0s;

}

.displayphoto:hover {
  margin-bottom: 5px;
}
div.boxtwo:hover {

  .displayphoto {
      margin-bottom: 5px ;
  }
  .boxthree{

  display: block;

}


}



.boxthree{
  padding: 10px;
  background-color: rgb(35, 35, 35);
  border-radius: 18px;
  border: 1px solid rgb(136, 136, 136);
  border-color: rgb(136, 136, 136) ;
  align-items: start;

  margin-top: 10px;
  transition: all 0.3s ease 0s;
  display: none;

}

.addinfo {

margin: 20px 0px 1px 0px ;

display: none;




}

.subtexter {
  justify-content: space-between;
}


.demoviewimage {
width: 400px;
margin-top: 10px;
}


.hookhomeicon {
  width: 70px;
}

.hookaccountbox {
  margin-top: 10px;
  padding: 15px;
  background-color: rgb(71, 71, 71);
  display: flex;
  gap: 5px;
  border-radius: 15px;
  border: 1px solid gray;



}


.addinfoaddi {
  display: block;
  margin-top: 10px;
  padding-right: 40px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: black;
  border-radius: 15px;



}

.box:hover {
  .addinfo{

      transition: all 0.3s ease 0s;
      display: none;


  }
}



.texter {
  margin-left: 20px;
  padding-right: 30px;


}

.textertwo{
  margin-top: 0px;
  padding-right: 40px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: black;
  border-radius: 15px;
}


h1 {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
 color: black;
  font-size: 30px;
  margin: 0px;
  margin-bottom: 10px;


}
h2 {
  font-weight: 400;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.secondfont{
  font-family: "Charter", sans-serif;
  font-size: 30px;
}

h3 {
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}



h4 {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: rgb(34, 34, 34);
  font-size: 15px;
  font-weight: 600;
  margin: 0px;

}

@media (prefers-color-scheme: dark) {
    html {
        background-color: rgb(20, 20, 20);
    }

    h1,h2,h3,h4 {
        color: white;
    }

   
}


</style>
